html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(71, 71, 71);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    color: black;
}

.header-links a{
    margin: 10px;
    color: white;
    text-decoration: none;
}

.resume-box a {
    border: 1px solid rgb(71, 71, 71);
    margin: 10px;
    color: white;
    text-decoration: none;
    padding: 3;
}

i {
    font-size: 110px;
    padding: 10px;
}

#about-me-p {
    font-size: x-large;
}

#github-icon {
    font-size: 40px;
    color: black;
}

#linkedin-icon {
    font-size: 40px;
    color: black;
    padding: 0;
}

.hi {
    font-size: large;
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 130px;
}

.build {
    font-size: x-large;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 70;
}

.jb {
    font-size: 70px;
    padding: 0px;
    margin-bottom: 0px;
}

#skills {
    margin-bottom: 20;
}

.socialButton {
    position:fixed;
    right: 20px;
    z-index: 50001;
  }
  #linkedinbutton {
    bottom:0px;
  }
  #githubbutton {
    bottom:55px;
  }
  .socialButton img{
    height:50px;
    padding:2px;
    opacity:0.6;
  }

  .socialButton img:hover {
      transition: all 0.25s;
      opacity: 1.0;
  }

  hr.pretty-h-line {
    border: 2px solid #17a2b8;
  }

  #credits {
      font-size: small;
  }

  .other-projects-github-button {
      font-size: 30px;
  }

  a:hover {
      text-decoration: none;
  }

  .card-icon-and-subtext {
      position: absolute;
      bottom: 10px;
  }

  #self-image-mobile {
      display: none;
  }

  #mobile-intro {
      display: none !important;
  }

/********************** mobile styling *************************/

  @media (max-width: 780px) {
      .project-description {
          display: none;
      }

      #self-image-mobile {
          display: flex;
          height: auto;
          width: auto;
      }

      #self-image-desktop {
          display: none;
      }

      i {
          font-size: 75px;
      }

      #mobile-intro {
        display: flex !important;
      }

      #desktop-intro {
          display: none !important;
      }

      #about-me-p-mobile {
          font-size: larger;
      }
  }


 

