* {
    padding: 5px;
}

body {
    background-color: rgb(71, 71, 71);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    color: black;
}

.header-links a{
    margin: 10px;
    color: white;
    text-decoration: none;
}

.resume-box a {
    border: 1px solid rgb(71, 71, 71);
    margin: 10px;
    color: white;
    text-decoration: none;
    padding: 3;
}

.hi {
    font-size: 18;
    text-align: left;
    margin-left: 400;
    margin-top: 40;
}

.jb {
    font-size: 90;
}

.build {
    font-size: 40;
}

i {
    font-size: 90px;
}

#boo {
    height: 50%;
    width: auto;
}

#about-me-p {
    font-size: x-large;
}

#github-icon {
    font-size: 40px;
    color: black;
}

#linkedin-icon {
    font-size: 42px;
    color: black;
}

a:hover {
    text-decoration: none;
}